@import "../../styles/variables.scss";

.chat-field{
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

  .messages{
    overflow-y: auto;
    max-height:400px;
  }
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $alihan; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $navy; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $light-navy; 
  }