.camera-checker #camera {
    width: 100%;
    background-color: black;
    border: 2px solid var(--beyza);
}

.camera-checker #camera-info {
    font-size: 14px;
}

.camera-checker #cbx-label {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.camera-checker #camera-info #camera-error {
    color: var(--beyza);
}
