:root{
  --beyza: #EE562E;
  --alihan: #04051E;
  --smoke: #595555;
}

body{
  background-color: var(--alihan);
}

.createRoomBtn{
  background-color: var(--beyza);
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}

.createRoomBtn:hover{
  color: var(--alihan);
}

.joinBtn{
  text-decoration: none;
  font-size: 20px;
  color: var(--beyza);
  margin-left: 50px;
}

.joinBtn:hover{
  color: #ffffff;
}

.text {
  padding-top: 200px;
  padding-left: 100px;
}

.text > h1 {
  color: white;
  font-size: 50px;
}

.penguening {
  color: var(--beyza);
}

.info {
  color: var(--smoke);
  font-size: 25px;
}
