body {
  background-color: var(--alihan);
}

.create-room-btn {
  background-color: var(--beyza);
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: white;
  text-decoration: none;

  &:hover {
    color: var(--alihan);
  }
}

.join-btn {
  text-decoration: none;
  font-size: 20px;
  color: var(--beyza);
  margin-left: 50px;

  &:hover {
    color: #ffffff;
  }
}

.text {
  padding-top: 200px;
  padding-left: 100px;

  h1 {
    color: white;
    font-size: 50px;
  }
}

.penguening {
  color: var(--beyza);
}

.info {
  color: var(--smoke);
  font-size: 25px;
}